.gb-analysis-container {
  margin: 0px 6px 0px 6px;
}

.gb-cross-table-container {
  margin-top: 1em;
}

/* ------------ cross table styles ------------ */
.gb-cross-table-col-header {
  background-color: var(--gb-clinical-green-light-light);
  text-align: right;
  color: #505050;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.gb-cross-table-row-header {
  background-color: var(--gb-clinical-green-light-light);
  font-weight: bold;
  text-align: right;
  color: #505050;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.gb-cross-table-cell {
  text-align: right;
  color: dimgray;
  border: 1px solid darkgrey;
}


/* ------------ cross table row selection styles ------------ */
.gb-cross-table-rows-selection {
  text-align: right;
  border-right: 1px solid lightgray;
}
.gb-cross-table-rows-selection-header {
  font-weight: bolder;
  text-align: center;
  color: var(--gb-clinical-green-light);
  border-bottom: 1px solid lightgray;
}
.gb-cross-table-row-selection {
  border-bottom: 1px solid lightgray;
}

/* ------------ cross table col selection styles ------------ */
.gb-cross-table-cols-selection {
  text-align: left;
  border-left: 1px solid lightgray;
}
.gb-cross-table-cols-selection-header {
  font-weight: bolder;
  text-align: center;
  color: var(--gb-clinical-green-light);
  border-bottom: 1px solid lightgray;
}
.gb-cross-table-col-selection {
  border-bottom: 1px solid lightgray;
}

/* ------------ cross table candidate styles ------------ */
.gb-cross-table-candidates {
  text-align: center;
  color: #505050;
  vertical-align: middle;
}
.gb-cross-table-candidates-header {
  font-weight: bolder;
  text-align: center;
  color: var(--gb-clinical-green-light);
  border-bottom: 1px solid lightgray;
}
.gb-cross-table-candidate {
  border-bottom: 1px solid lightgray;
}

.gb-cross-table-secondary-btn {
  border: none;
  color: #505050;
}
